CLexi.sdf
Debug/CLexi.res
Debug/CLexi.tlog/CL.read.1.tlog
Debug/CLexi.tlog/CL.write.1.tlog
Debug/CLexi.tlog/CLexi.lastbuildstate
Debug/CLexi.tlog/cl.command.1.tlog
Debug/CLexi.tlog/link.command.1.tlog
Debug/CLexi.tlog/link.read.1.tlog
Debug/CLexi.tlog/link.write.1.tlog
Debug/CLexi.tlog/rc.command.1.tlog
Debug/CLexi.tlog/rc.read.1.tlog
Debug/CLexi.tlog/rc.write.1.tlog
Debug/vc120.idb
ipch/clexi-18afe2ff/clexi-3c03b781.ipch
